<!DOCTYPE html>
<html lang="en-us">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet"> 
  {% include head.html %}<!-- include의 head.html을 불러옴 -->

  <body>

    {% include sidebar.html %}<!-- include의 sidebar.html을 불러옴 -->

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->

    <div class="wrap"><!-- public/css/lanyon.css 참조 -->
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a><!-- <title이 Home인 파일을 링크함(index.html)>{ {title을 불러옴(_config.yml에 있음)} } -->
            <small>{{ site.subtitle }}</small><!-- subtitle을 불러옴(_config.yml에 있음) -->
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div> 
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label><!-- sidebar를 여는 버튼 -->

    <script src='{{ site.baseurl }}/public/js/script.js'></script>

    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>


    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script> 

  </body>
</html>
